/* Form styles */

input {
  margin: 0.5rem 0;
}

fieldset > div > label {
  display: block;
}

fieldset > div > input + label {
  display: inline;
}

[data-tooltip] button {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 0;
  padding: 1px 4px;
  background: var(--text-color);
  font-family: serif;
  font-weight: bold;
  color: var(--bg-color);
}

[data-tooltip] button:focus,
[data-tooltip] button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--button-hover-color);
}

[data-tooltip] > span > div {
  max-width: 60ch;
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: var(--info-color);
}

[data-tooltip] > span > div a {
  color: currentcolor;
}
